@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Nunito:wght@600&family=Red+Hat+Display:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: 'Red Hat Display', sans-serif;


}


body{
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row ;
    margin: 10px auto auto auto;
    width: 90%; 
    justify-content: space-between;
    background: linear-gradient(to right,#fff,#e2e2e2,#fff,#e2e2e2);
    border-radius: 5px;    
    z-index: 6;

}
header img {
    width: 55px;
    padding: 4px;
    animation: jumping 0.5s linear infinite;
}
@keyframes jumping {
    from {transform: translateY(-10px);}
    50% {transform: translateY(0);}
    to{transform: translateY(-10px);}
}
header div {
    display: flex;
    gap:10px;
    list-style-type: none;
    flex-direction: row;
    margin-top: auto;

}

a{
    text-decoration: none ;
    color: #120a8f;
    text-transform: uppercase;
    padding: 24px 20px;
    transition: all 200ms ease;
}
a:hover{
    background: linear-gradient(to right,#0060b7,#0da7d9);
    color: #fff;
    border-radius: 5px;
    
}

.inicial-page,.inicial-page2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.inicial-page:after , .inicial-page2:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0,rgba(0, 0, 0, 0) 40%,#000 100%);
}
.inicial-page{
    background-image: url(imgs/wallpaperbetter.com_1920x1200.jpg);
}



.content{
    z-index: 6;
    margin: 140px -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.logo-princip{
    width: 80%;
}


.button-atend {
    z-index: 6;
    margin-left: 30px;
    margin-top: 30px;
    
}
.buttons , .button{
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to right,#0da7d9,#0060b7);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    font-weight: 300;
    width: 180px;
    transition: all 200ms ease;
    text-transform: capitalize;
    
  

}

.buttons:hover , .button:hover{
    color: #fff;
    background: linear-gradient(to right,#0060b7,#0da7d9);
    cursor: pointer;
    box-shadow: 5px 5px 5px #000;
    

}

.ficha{
    background: linear-gradient(to right,#fff,#e2e2e2,#fff,#e2e2e2);
    padding: 20px;
    box-shadow: 5px 15px 15px #fff;
    text-transform: uppercase;
}
.ficha p {
    color: #000;
}
fieldset{
    padding: 20px;
    margin: 20px auto;
    width: 800px;

}
fieldset div input {
    margin: 10px;
}

.ficha {
    text-align: center;
    color: #0060b7;
}
#tit2  {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
    padding: 0px 0 20px 0;
    color: #fff;
}

fieldset {
    border-radius: 5px;
    background: linear-gradient(to right,#0da7d9,#0060b7);
    box-shadow: 5px 5px 5px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(83, 83, 83);
}   

label input{
    border-radius: 5px;
    padding: 6px;
    border: 2px solid rgba(0, 0, 0, 0);
}

input:focus , textarea:focus{
    background-color: rgb(221, 221, 221);
    border: 2px solid rgb(86, 86, 86);
}
label span {
    position: absolute;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 200ms ease;

}
textarea{
    padding: 35px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.span-active{
    font-size: 0.7em;
    margin: -5px auto;
}

#vacina-covid{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    gap: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.inicial-page2{
    background-color: #000;
}

.titsus2{
    padding:1.5px 10px;
    font-size: 4em;
    font-family: 'Saira', sans-serif;  
    color: #0060b7 ;  
    text-shadow: 5px 5px 5px black;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 8;
    font-weight: 400;
    
}
.dinamico{
    margin: 0 auto;
    line-height: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.dinamico li{
    font-size: 4em;
    list-style: none;
    font-weight: 500;
    color: #0060b7;
    left: 0;
    top: 0;
    position: relative;
    animation: slide 6s steps(4) infinite;
    z-index: 7;
    
   
}
#feliz{
    width: 280px;
}

#faci{
    width: 450px;
}
#como{
    width: 500px;
}
#conf{
    width: 600px;
}
@keyframes slide{
    100%{
        top: -320px;
    }
}
.dinamico li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #0da7d9;
    animation: typing 1.5s steps(10) infinite;
    background-color: #000;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.inicial-page2 h2{
    font-size: 1.7em;
    color: #fff ;  
    font-family: 'Saira', sans-serif;  
    margin: 10px auto;
    z-index: 8;
}


footer{
    padding: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

footer p {
    animation: jumping 0.8s linear infinite;
}


